<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgUb0rpFJGO6JV1krn0iVs4DABZ4eLViQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786953078927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocoHome</string>
	<key>PROJECT_ID</key>
	<string>coco-home-698d0</string>
	<key>STORAGE_BUCKET</key>
	<string>coco-home-698d0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786953078927:ios:3e470988301e5c0e3288fa</string>
</dict>
</plist>